/* GENERAL STYLES */
body {
	background-image: url(../img/white-house-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	font-family: 'Carter One', cursive;
	font-size: 60px;
	color: black;
	text-align: center;
}

h3 {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
	text-align: center;
}

p {
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
	color: white;
	text-align: center;
}

/* GAMING BOX */
#gaming-box {
	width: 800px;
	height: 600px;
	margin: auto;
}

/* START MENU */
#start-menu {
	text-align: center;
	background-color: black;
	width: 700px;
	height: 300px;
	margin: auto;
	position: relative;
	top: 180px;
	display: block;
}

#start-button {
	background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#start-button:hover {
	background-color: black;
	color: white;
}

#disclaimer {
	font-size: 10px;
	line-height: 14px;
}

/* MOLE CREATION */
#mole {
	content: url(../img/donald-trump.png);
	position: relative;
	display: none;
	top: 0px;
	left: 0px;
}

/* SCORE BOARD */
.statinfo {
	background-color: black;
	text-align: center;
	border-width: 3px;
	border-style: dotted;
	border-color: white;
	padding: 10px;
}

/* FINAL DISPLAY */
#end-menu {
	text-align: center;
	background-color: black;
	width: 700px;
	height: 300px;
	margin: auto;
	position: relative;
	top: 180px;
	display: none;
}

#play-again {
	background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#play-again:hover {
	background-color: black;
	color: white;
}

/* INTRO SOUND WARNING */
#sound-warning {
	text-align: center;
	background-color: black;
	width: 700px;
	height: 300px;
	margin: auto;
	position: relative;
	top: 180px;
	display: block;
}

#sound-button {
	background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#sound-button:hover {
	background-color: black;
	color: white;
}