
/*font-family: 'Press Start 2P', cursive;*/

body {
	background-image: url(../img/white-house.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}


h1 {
	font-family: 'Carter One', cursive;
	font-size: 60px;
	color: black;
	text-align: center;
}

#gaming-box {
	width: 800px;
	height: 600px;
	margin: auto;
	border-width: 3px;
	border-style: dashed;
	border-color: yellow;
}

#mole {
	content: url(../img/donald-trump.png);
	position: relative;
	display: none;
	top: 0px;
	left: 0px;
	border-width: 3px;
	border-style: solid;
	border-color: black;
}